---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gabriel Diaz | DEV">
  <main
    class="bg-slate-300 w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <div class="pb-32 pt-10">
      <Card />
    </div>
  </main>
</Layout>
