---
import Header from "./Header.astro";
import Content from "./Content.astro";
import Footer from "./Footer.astro";
---

<div class="flex justify-between items-center py-10">
  <div class="m-auto">
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-slate-100">
      <Header />
      <Content />
      <Footer />
    </div>
  </div>
</div>
