---
import EmailIcon from "./EmailIcon.astro";
import GithubIcon from "./GithubIcon.astro";
---

<section
  class="flex flex-col items-center px-4 pt-6 pb-1 text-center mx-5 my-1"
>
  <header class="mb-5">
    <h1
      class="text-3xl font-bold bg-gradient-to-r from-purple-950 to-indigo-700 bg-clip-text text-transparent"
    >
      Working on a new site ...
    </h1>
  </header>
  <div
    class="inline-flex items-center font-light leading-relaxed text-inherit antialiased"
  >
    <div class="w-4 h-auto mr-2 mt-1">
      <EmailIcon />
    </div>
    <a class="text-xl" href="mailto:gabriel@gabrieldiazdev.com" target="_blank"
      >gabriel@gabrieldiazdev.com</a
    >
  </div>
  <div
    class="inline-flex items-center font-light leading-relaxed text-inherit antialiased"
  >
    <div class="w-4 h-auto mr-2 mt-1">
      <GithubIcon />
    </div>
    <a class="text-xl" href="https://github.com/gabiinDev" target="_blank"
      >github.com/gabiinDev</a
    >
  </div>
  <div
    class="w-full h-px bg-gray-200 mt-6 mb-2"
    style="opacity: 1; transform-origin: 100% 50% 0px;"
  >
  </div>
</section>
